div{
    width: 100%;
}
img {
    max-height: 100%;
    max-width:  100%;
}
@media (max-width: 772px) {
    div {
      width: 45vw; /* Set div width to 45% of the viewport width */
      margin: auto; /* Center align the divs if required */
      padding: 10px; /* Optional padding */
      /* Adjust any other properties to achieve your layout requirements */
    }
  
    img {
      max-height: 30vh; /* Set max height of images to 30% of viewport height */
    }
  },
@media (max-width: 998px){
    div{
        width: 30 vw;
    }
}